/* CSS styles for header and footer */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
height:51px;
 color: white;
}

/* CSS styles for body */
body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* CSS styles for the div */
.video-container {
    background-color: #f2f2f2;
    padding: 10px;
}

.video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* CSS styles for the content section */
.content {
    background-color: #f2f2f2;
    padding: 10px;
    flex-grow: 3;
    display: flex;
}

.about {
    flex-grow: 1;
width:75%;
}

.sidebar {
    background-color: #ccc;
    padding: 10px;
   margin-left:30px;
width:25%;
}
.liste a {
  color: #fff;
  background-color: transparent;
  text-decoration:underline overline;
 font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
height:180px;
}

/* CSS styles for the header list */
header ul {

    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 10px;

}

header li {
  
margin-left: 30px;
}

/* CSS styles for social media links */
.social-media {
   margin-left: 300px;
    float:left;
    margin-top: -195px;
width:200px;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    margin-left:50px;
 
}
.map{
 margin-top: -200px;
float:right;
}